table {
    width: 100%;
    border: 5px solid purple;
    border-collapse: collapse;
  }
  th, td {
    border: 2px solid purple;
    padding: 10px;
    font-weight: 400;
  }
  th {
    font-weight: 700;
    background: linear-gradient(rgb(255, 202, 255), rgb(246, 159, 254), rgb(255, 202, 255), rgb(246, 159, 254), rgb(255, 202, 255) );
  }
  tr:nth-child(even) td {
  background-color: rgb(255, 234, 255); /* Alternate color for even rows */
  }
  tr:nth-child(odd) td {
    background-color: rgb(251, 210, 255); /* Default color for odd rows */
  }